<div class="page">
    <div class="sidebar">
        a
    </div>
    <div class="content">

        <vuce2-lib-breadcrumb
            [items]="breadCrumbs">
        </vuce2-lib-breadcrumb>

        <div class="row">
            <h1>Bandeja de Pago</h1>
    
        </div>
        <div class="row">
            <h5 class="mt-4 mb-4" style="color: red">
                <button mat-flat-button color="warn">
                    <span class="material-icons">
                        cloud_download
                    </span> 
                </button> Descargar reporte
            </h5>
        </div>

        <span class="text-muted">buscar por: Formato, Nro. Trámite, Expediente o Solicitante</span>

        <!---FILTROS--->

        <div class="accordion-item mt-5 mb-5">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true" aria-controls="panelsStayOpen-collapseThree">
                Filtros de Búsqueda
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"  aria-labelledby="panelsStayOpen-headingThree">
              <form [formGroup]="formFilter" class="accordion-body">
                <div class="row" >
                    <vuce2-lib-input-text
                        class="col-sm"
                        formControlName="formato"
                        [placeholder]="'Formato, Nro. Trámite o solicitante'"
                        [control]="formato"
                        [etiqueta]="'formato'"
                        [sufijo]="'search'"
                    ></vuce2-lib-input-text>
                    <vuce2-lib-select
                        [items]="estados"
                        class="col-sm"
                        formControlName="estado"
                        [etiqueta]="'Estado'"
                        [control]="estado"
                        (change)="handlerChange($event)"
                    ></vuce2-lib-select>
                    <vuce2-lib-input-calendar
                        formControlName="fecha"
                        class="col-sm"
                        [etiqueta]="'Fecha'"
                        [control]="fecha"
                    ></vuce2-lib-input-calendar>
                    <div class="d-flex gap-2 col-sm">
                        <button mat-raised-button color="warn">
                            Guardar
                        </button>
                        <button mat-stroked-button color="warn" (click)="showMoreFilter = !showMoreFilter">
                            <mat-icon>filter_list</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="row w-50" *ngIf="showMoreFilter">
                    <vuce2-lib-select
                        [items]="estados"
                        class="col-sm"
                        formControlName="prioridad"
                        [control]="prioridad"
                        [etiqueta]="'Prioridad de atención'"
                       
                        (change)="handlerChange($event)"
                    ></vuce2-lib-select>
                    <vuce2-lib-input-text
                        class="col-sm"
                        formControlName="diasRestantes"
                        [etiqueta]="'Dias Restantes'"
                        [control]="diasRestantes"
                        [sufijo]="'search'"
                    ></vuce2-lib-input-text>
                </div>
              </form>
            </div>
        </div>



        <div class="buttons">

        </div>
    </div>
</div>