<div class="page">
    <div class="sidebar">
        a
    </div>
    <div class="content">

        <vuce2-lib-breadcrumb
            [items]="breadCrumbs">
        </vuce2-lib-breadcrumb>

        <div class="row">
            <h1 class="w-75">
                Datos del Informe Técnico
                </h1>
                <vuce2-lib-select
                    [items]="modos"
                    class="w-25"
                    [control]="modo"
                    (change)="selectMode($event)"
                ></vuce2-lib-select>
        </div>

        <!---FILTROS--->

        <div class="card p-4 mt-5">
            <div class=" mt-2 mb-2 d-flex justify-content-between align-items-center">
                <h3>Datos del Informe</h3>
                <h6 *ngIf="correlativoAutomatico" style="color: #DA211C">
                    <button mat-flat-button color="warn">
                        <span class="material-icons">
                            open_in_browser
                        </span> 
                    </button> Guardar
                </h6>
            </div>
            <div class="row">
                <div class="col-sm row">
                    <div class="col">
                        <p>Correlativo automatico:</p>
                        <p>Fecha de Informe:</p>
                    </div>
                    <div class="col-7">
                        <p class="text-muted">
                            <mat-slide-toggle (change)="slideToggle($event)">
                            </mat-slide-toggle>
                        </p>
                        <p class="text-muted">21/03/2022 15:41pm</p>
                    </div>
                </div>
                <div class="col-sm row">
                    <div class="col">
                        <p>Correlativo:</p>
                        <p>Estado:</p>
                    </div>
                    <div class="col-7">
                        <p class="text-muted">409083450</p>
                        <p class="text-muted">Aprovado</p>
                    </div>
                </div>
                <div class="col-sm row">
                    <div class="col-sm">
                        <p>Evaluador:</p>
                        <p>Canal:</p>
                    </div>
                    <div class="col-7">
                        <p class="evaluador">MP-EVALUADOR SERFOR</p>
                        <p class="canal">
                            <span class="material-icons">
                                info
                            </span> 
                            Atención: Trámite con canal rojo
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end mt-5 mb-5">
            <h6 style="color: red">
                <button mat-flat-button color="warn">
                    <span class="material-icons mr-2">
                        open_in_browser
                    </span> 
                </button> Guardar
            </h6>
        </div>
        <div class="mt-5">
            <vuce2-lib-tab (tabEvent)="changeTab($event)" [contentSource]="tabs"></vuce2-lib-tab>
        </div>
        <div class="row">
            <router-outlet></router-outlet>
        </div>
        <div class="buttons">
        </div>
    </div>
</div>