<div class="page">
    <div class="sidebar">
        a
    </div>
    <div class="content">

        <vuce2-lib-breadcrumb
            [items] = "breadCrumbs">
        </vuce2-lib-breadcrumb>
        <!-- <h6 class="text-muted mb-4"> inicio | Trámites / Trámites en Proceso de Evaluación</h6> -->
        <h1 class="mt-5">Trámites Devueltas al Evaluador</h1>
        <span class="text-muted">buscar por: Formato, Nro. Trámite, Expediente o Solicitante</span>

        <!---FILTROS--->

        <vuce2-lib-tab (tabEvent)="changeTab($event)" [contentSource]="tabs"></vuce2-lib-tab>

        <app-filtro-de-busqueda></app-filtro-de-busqueda>

        <!---TABLA--->

        <vuce2-lib-grid 
            [options]="options" 
            [columns]="columns" 
            [datasource]="datasource" 
            [paging]="paging"
            [borderHeader]="true"
            (onRefresh)="handlerRefresh($event)">

           
            <ng-template vuce2LibGridCellTemplate="icon" let-data='data' let-row='row'>
                <span style="color: #5a95fd;" class="material-icons" (click)="''">
                    info
                </span>
            </ng-template>

            <ng-template vuce2LibGridCellTemplate="acciones" let-data='data' let-row='row'>
                <span style="cursor: pointer; color: #df4c47;" class="material-icons" (click)="goToDetail(row)">
                    find_in_page
                </span>
            </ng-template>

            <ng-template vuce2LibGridCellTemplate="Estado" let-data='data' let-row='row'>
                <button
                    [ngClass]="row.Estado === 'Trámite por evaluar' ? 'no_assign' : 'assign'" class="state"
                    [ngClass]="{
                        'no_assign':row.Estado === 'Trámites en Subsanación',
                        'observer': row.Estado === 'Trámite en proceso de evaluación' || row.Estado === 'Trámite en proceso de inspección y finalizada',
                        'assign':row.Estado === 'Trámite con evaluación finalizada',
                        'warn':row.Estado === 'Tramite con correción de documentos'
                        }"
                    >
                    {{row.Estado}}
                </button>
            </ng-template>

            <ng-template vuce2LibGridCellTemplate="detailTemplate" let-data='data' let-row='row'>
                <div class="row">
                    <div class="col-sm row">
                        <div class="col-sm">
                            <p style="font-weight: bold;">Nombre:</p>
                            <p style="font-weight: bold;">Formato:</p>
                            <p style="font-weight: bold;">Plazo del Trámite:</p>
                            <p style="font-weight: bold;">Fin de Evaluacíon:</p>
                        </div>
                        <div class="col-sm">
                            <p class="text-muted">Informe de Inspección</p>
                            <p class="text-muted">DGMOS</p>
                            <p class="text-muted">8 a 10 dias Hábiles</p>
                            <p class="text-muted">17/01/21 - 09:00am</p>
                        </div>
                    </div>

                    <div class="col-sm row">
                        <div class="col-sm">
                            <p style="font-weight: bold;">Area:</p>
                            <p style="font-weight: bold;">Expediente:</p>
                            <p style="font-weight: bold;">Fecha de Actualización:</p>
                        </div>
                        <div class="col-sm">
                            <p class="text-muted">Fauna</p>
                            <p class="text-muted">2022983876223</p>
                            <p class="text-muted">17/01/21 - 09:00am</p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </vuce2-lib-grid>
        <vuce2-lib-footer></vuce2-lib-footer>
    </div>
  
</div>
