<nav class="navbar navbar-expand-lg navbar-ligth bg-ligth">
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          routerLink="/controles"
          routerLinkActive="active"
          >Controles</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          routerLink="/grid"
          routerLinkActive="active"
          >Grilla</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          routerLink="/pagination"
          routerLinkActive="active"
          >Pagination</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          routerLink="/tools"
          routerLinkActive="active"
          >Herramientas</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          routerLink="/menu"
          routerLinkActive="active"
          >Menu</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          routerLink="/bienvenida"
          routerLinkActive="active"
          >Bienvenida</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          routerLink="/accordion"
          routerLinkActive="active"
          >Accordion</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          routerLink="/evaluacion"
          routerLinkActive="active"
          >Evaluación</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          routerLink="/resultados"
          routerLinkActive="active"
          > Resultados</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          routerLink="/segunda-opinion"
          routerLinkActive="active"
          >2da Opinion</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          routerLink="/documentos-resolutivo"
          routerLinkActive="active"
          >Documentos</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          routerLink="/borrador"
          routerLinkActive="active"
          >Borrador</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          routerLink="/subsanacion"
          routerLinkActive="active"
          >Subsanación</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          routerLink="/bandeja-de-pago"
          routerLinkActive="active"
          >Bandeja de Pago</a
        >
      </li>
    </ul>
  </div>
</nav>
