<div class="full">
    <h1>Datos del Trámite</h1>
    <img src="assets/image/consultas.png">
    <p>Usted desea ingresar al</p>
    <p class="redtext">Trámite 2022202357</p>

    <div class="btnModal mt-3">
        <vuce2-lib-button-secundary (click)="close()" class="btnModal__btn" [texto]="'Salir'" [largo]="'small'">
        </vuce2-lib-button-secundary>
        <vuce2-lib-button-primary (click)="navigate()" class="btnModal__btn" [texto]="'Vista Previa'" [largo]="'small'"></vuce2-lib-button-primary>
    </div>
</div>