<div class="container mt-3 p-1">
    <div class="card">
        <div class="row">
            <div class="col m-3">
                <div class="text-right" (click)="openModal()">
                    <h6 style="color: #DA211C;">
                        <button mat-flat-button class="p-0" color="warn">
                            <span class="material-icons ">
                                add
                            </span>
                        </button>
                        Nueva Sección
                    </h6>
                </div>
            </div>
        </div>
        <div class="row m-1">
            <div class="container">
                <div *ngFor="let item of informes" class="row mt-4">
                    <div class="col-12">
                        <div class="row ">
                            <div class="col col-sm-7">
                                <p style="font-weight: bold;">{{item.tittle}}:</p>
                            </div>
                            <div class="col">
                            </div>
                            <div class="col col-sm-2 text-right">
                                <span class="material-icons " style="color: #DA211C; cursor: pointer;">
                                    edit
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-0">
                        <div class="card ml-3 mr-3">
                            <p class="p-2">{{item.content}}</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center mt-5 mb-3">
                    <div class="col col-lg-3">
                        <vuce2-lib-button-secundary [texto]="'Salir'" [largo]="'small'">
                        </vuce2-lib-button-secundary>
                    </div>
                    <div class="col col-lg-3" (click)="openModalVistaPrevia()">
                        <vuce2-lib-button-primary [texto]="'Vista Previa'" [largo]="'small'"></vuce2-lib-button-primary>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>