footer{
    position: absolute;
    width: 1060px;
    height: 80px;
    left: 288px;
    top: 1466px;
    background: #ffffff;
}

.icon-mincetur{
    position: absolute;    
    right: 1.25%;
    top: 30.82%;
    bottom: 1.2%;
}