<div class="container" style="max-height: calc(100vh - 50px); overflow-y: auto">

    <div class="row mb-4">
        <div class="col-12">
            <h4 class="text-center" style="font-weight: bold;">
                Descarga completa
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-12 text-center">
            <span class="material-icons" style="font-size: 100px;color: #DA211C">
                save_alt
            </span>
        </div>
        <div class="col col-sm-12 mb-2  text-center">
            <p class="text-center">
                La descarga del reporte de liquidación en formato <span style="font-weight: bold; color:#DA211C">Excel</span> se descargo exitosamente.
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center mt-3 mb-1">
        <div class="col col-lg-4" (click)="onNoClick()">
            <vuce2-lib-button-primary [texto]="'Salir'" [largo]="'small'">
            </vuce2-lib-button-primary>
        </div>
    </div>
</div>