/* You can add global styles to this file, and also import other style files */
body{
    background: #F2F2F2!important;
}
.title {
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1pt;    
    color: #6c757d!important;
}
.content {
	background: #fff;	
	padding: 2rem;
	border: 2px solid #e6e6e6;
	margin: auto;
    width: 75%;	
    
};

.label {
    font-weight:500;    
    color: #6c757d!important;
};

    nav {
        border: 1px solid #ccc;
        }
    
    #navbarNav .navbar-nav a{
    padding: 1.2rem 2rem;
    }
    
    @media (max-width: 991.98px) {
    .nav-vertical {
    border: 1px solid #ccc;
        right: -301px;
        position: absolute;
        width: 300px;
        top: 57px;
        transition: all .2s ease-out;
    }
    
        .active {
        right: -1px;
        }
    }