<div class="container mt-5 bg-light">    
    <div class="title text-center">
        <h4>{{titulo}}</h4>
    </div>  
    <div class="content">       
        <div class="row">
            <div class="col-3 label">
                Alerta con icono:
            </div>           
            <vuce2-lib-alert-icon
                [icono] = "icon_alert"
                [texto] = "alerta">
            </vuce2-lib-alert-icon>                                 
        </div>
        <div class="row">
            <div class="col-3 label">
                Link: 
            </div>            
            <vuce2-lib-link 
                [url] = "url_link"
                [texto] = "link">
            </vuce2-lib-link>
        </div>
        <div class="row">
            <div class="col-3 label">
                Label con icono:
            </div>
            <vuce2-lib-label-icon
                [url] = "url_label_icon"
                [path_img] = "path_icon"
                [texto] = "label_icon">
            </vuce2-lib-label-icon>        
        </div>
        <div class="row">
            <div class="col-3 label">
                Badge:
            </div>          
            <vuce2-lib-icon-badge
                [url] = "url_badge"
                [valor] = "valor_badge"
                [path_img] = "path_img_badge">
            </vuce2-lib-icon-badge>
        </div>    
        <div class="row">
            <div class="col-3 label">
                Card:
            </div>            
            <vuce2-lib-card
                [card] = "card">
            </vuce2-lib-card>               
        </div>
        <div class="row mb-3">
            <div class="col-3 label">
                NavBar:
            </div>    
            <vuce2-lib-nav
                [items] = "navBars">
            </vuce2-lib-nav>       
        </div> 
        <div class="row">
            <div class="col-3 label">
                BreadCrumb: 
            </div>
            <vuce2-lib-breadcrumb
                [items] = "breadCrumbs">
            </vuce2-lib-breadcrumb>
        </div>            
    </div>       
</div>
