<div class="row border-bottom">
    <h5 class="mt-4 mb-4">Datos Personales</h5>
    <div class="row">
        <div class="row col-6">
            <div class="col-sm">
                <p>Tipo de Documentos:</p>
                <p>Actividad:</p>
            </div>
            <div class="col-sm">
                <p class="text-muted">RUC</p>
                <p class="text-muted">Activo</p>
            </div>
        </div>
        <div class="row col-6">
            <div class="col-sm">
                <p>Tipo de Documentos:</p>
                <p>Actividad:</p>
            </div>
            <div class="col-sm">
                <p class="text-muted">RUC</p>
                <p class="text-muted">Activo</p>
            </div>
        </div>
    </div>
</div>
<div class="row border-bottom">
    <h5 class="mt-4 mb-4">Datos de Contacto</h5>
    <div class="row">
        <div class="row col-6">
            <div class="col-sm">
                <p>Departamento:</p>
                <p>Referencia:</p>
                <p>Celular:</p>
                <p>Fax:</p>
            </div>
            <div class="col-sm">
                <p class="text-muted">Lima</p>
                <p class="text-muted">Por el supermercado metro</p>
                <p class="text-muted">947761431</p>
                <p class="text-muted">000-000-00</p>
            </div>
        </div>
        <div class="row col-6">
            <div class="col-sm">
                <p>Distrito:</p>
                <p>Domicilio Legal:</p>
                <p>Teléfono:</p>
                <p>Correo Electrónico:</p>
            </div>
            <div class="col-sm">
                <p class="text-muted">Lima</p>
                <p class="text-muted">Av. Los Portales</p>
                <p class="text-muted">0102353291</p>
                <p class="text-muted">farmaindustria@gmail.com</p>
            </div>
        </div>
    </div>
</div>
<div class="row border-bottom">
    <h5 class="mt-4 mb-4">Representante Legal</h5>
    <div class="row">
        <div class="row col-6">
            <div class="col-sm">
                <p>Apellidos:</p>
            </div>
            <div class="col-sm">
                <p class="text-muted">Flores Castellano</p>
            </div>
        </div>
        <div class="row col-6">
            <div class="col-sm">
                <p>Nombres:</p>
            </div>
            <div class="col-sm">
                <p class="text-muted">Arturo Daniel</p>
            </div>
        </div>
    </div>
</div>